@import 'primeflex/primeflex.scss';
// @import 'bootstrap/scss/bootstrap';
// .layout-sidebar {
//     // border-radius: 12px;
//     position: fixed;
//     // width: 223px;
//     height: calc(100vh - 9rem); 
//     z-index: 999;
//     overflow-y: auto;
//     user-select: none;
//     top: 5rem;
//     // left: 2rem;
//     color: black;
//     // transition: transform $transitionDuration, left $transitionDuration;
//     background-color: var(--surface-overlay);
//     // border-radius: $borderRadius;

//     padding: 0.5rem 1.5rem;

//     // box-shadow: 0px 3px 5px rgba(0, 0, 0, .02), 0px 0px 2px rgba(0, 0, 0, .05), 0px 1px 4px rgba(0, 0, 0, .08);
// }
.layout-menu a {
    display: flex;
    align-items: center;
    position: relative;
    outline: 0 none;
    color: var(--text-color);
    cursor: pointer;
    text-decoration: none;

    i {
        margin-right: 0.7rem;
    }

    a {

        display: none; // Initially hide the text
        margin-left: 0.7rem;
    }

    &:hover span {
        position: absolute;
        // font-size: 75%;
        display: flex;
        width: 100%;
        // padding: .90rem 1rem;
        z-index: 999;
        // background-color: var(--surface-hover);
        display: inline; // Show the text on hover
    }
}

.layout-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    user-select: none;

    .layout-root-menuitem {


        >.layout-menuitem-root-text {
            font-size: .857rem;
            text-transform: uppercase;
            font-weight: 700;
            color: var(--surface-900);
            margin: .75rem 0;
        }

        >a {
            display: none;
        }
    }

    li.active-menuitem {
        >a {
            .layout-submenu-toggler {
                transform: rotate(-180deg);
            }
        }

        >ul {
            max-height: auto;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        a {
            display: flex;
            align-items: center;
            position: relative;
            outline: 0 none;
            color: var(--text-color);
            cursor: pointer;
            padding: 12px;
            text-decoration: none;
            // left: 40px;
            margin: 0 0 0 30px;

            span {
                // display: none;
            }

            // border-radius: $borderRadius;
            // transition: background-color $transitionDuration, box-shadow $transitionDuration;

            .layout-menuitem-icon {
                margin-right: .5rem;
            }

            .layout-submenu-toggler {
                font-size: 21%;
                margin-left: auto;
                // transition: transform $transitionDuration;
            }

            &.rotated-icon {
                .layout-menuitem-icon {
                    transform: rotate(90deg);
                }
            }

            &.active-route {
                font-weight: 600;
                color: var(--primary-color);
            }

            &:hover {

                background-color: #1D5755;
                color: White;
                display: block;
                // width: 192px;
                border-radius: 14px;
                // left: 40px;
                margin: 0 0 0 30px;
            }

            &:focus {
                // @include focused-inset();
            }
        }

        ul {
            overflow: hidden;
            max-height: 0;
            // border-radius: $borderRadius;

            li {
                a {
                    margin-left: 1rem;
                }

                li {
                    a {
                        margin-left: 2rem;
                    }

                    li {
                        a {
                            margin-left: 2.5rem;
                        }

                        li {
                            a {
                                margin-left: 3rem;
                            }

                            li {
                                a {
                                    margin-left: 3.5rem;
                                }

                                li {
                                    a {
                                        margin-left: 4rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// .layout-menuitem-text {
//     display: none;
// }
// .layout-menuitem-text :hover{
//     display: block;
// }


.sidebar-footer-image{
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// .book-image{
//     position: fixed;
//     bottom: 0;
//     left: 0;
// }

@media screen and (min-width:0px) and (max-width: 768px) {
    .sidebar-footer-image {
        display: none;
    }
    
}

.sidebar {
  transition: width 0.3s;
  &.closed {
    width: 60px;
    .layout-menuitem-root-text,
    .layout-menuitem-text {
      display: none;
    }
    .layout-menu ul a{
        margin: 0 !important;
        padding: 17px;
        font-size: larger;
    }
  }
  &.open {
    width: 250px;
  }
}

.toggle-button {
  @media (max-width: 1024px) {
    display: block;
  }
  margin: 10px;
}